/Practica01/target/
/Practica02/target/
/Practica03/nbproject/private/
/Practica03/build/
/Practica03/dist/
/Gonzalez_Martin_Raul_AUT1_01_Componentes_y_contenedores/Practica01/target/
/gonzález_raul_AEUT1_02_Componentes/programa/Practica02/target/